@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'), url(./fonts/Cuprum-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CuprumBold';
  src: local('CuprumBold'), url(./fonts/Cuprum-Bold.ttf) format('truetype');
}

html {
  font-size: 16px;
}

::placeholder{
  color: silver;
}

input:focus, select:focus{
  outline: none;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: darkolivegreen;
}

body {
  height: 100vh;
  background: url(background2.jpg) no-repeat center fixed;
  background-size: cover;
  color: black;
  font-family: 'CuprumBold'
}

span {
  display: inline-block;
  margin-right: 0.125em;
}

#root, .App{
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 50px;
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 10%;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  color: black;
  text-align: justify;
}
label, p {
  font-size: 30px;
}

/* Disable number spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
