@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'), url(./fonts/Cuprum-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CuprumBold';
  src: local('CuprumBold'), url(./fonts/Cuprum-Bold.ttf) format('truetype');
}

::placeholder{
  color: silver;
}

input:focus, select:focus{
  outline: none;
}


body {
  height: 100vh;
  background: url(background2.jpg) no-repeat center fixed;
  background-size: cover;
  color: black;
  font-family: 'CuprumBold'
}

#root, .App{
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 50px;
  text-align: center;
}

label, p {
  font-size: 30px;
}

/* Disable number spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
